@model ChangePasswordViewModel
@{
    ViewData["Title"] = viewLocalizer["ChangePasswordPageTitle"];
    Layout = "~/Views/Shared/_signInLayout.cshtml";
}
<title>@ViewData["Title"]</title>
<div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">@viewLocalizer["ChangePasswordPageTitle"]</h1>
        </div>
        <form asp-action="ChangePassword" asp-controller="User" asp-antiforgery="true" autocomplete="off" method="post">
            <div asp-validation-summary="All">
            </div>
            <div class="form-group">
                @Html.HiddenFor(q => q.userId)
                @Html.HiddenFor(q => q.resetToken)
            </div>
            <div class="form-group">
                <div>
                    <div>
                        @Html.LabelFor(model => model.PassWord)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.ComparePassword)
                </div>
                <div>
                    @Html.EditorFor(model => model.ComparePassword, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.ComparePassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">@sharedLocalizer["Save"]</button>
            </div>
            <hr />
            <div class="text-center">
                <a class="small" asp-controller="User" asp-action="Create">@viewLocalizer["CreatePage"]</a>
            </div>
            <div class="text-center">
                <a class="small" asp-controller="User" asp-action="SignIn">@viewLocalizer["SignInPage"]</a>
            </div>
        </form>
    </div>
</div>

