@model CreateUserViewModel
@using FoodStore.Core.Enumarations
@{
    ViewData["Title"] = viewLocalizer["CreatePageTitle"];
    Layout = "~/Views/Shared/_signInLayout.cshtml";

}
<title>@ViewData["Title"]</title>
<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">@viewLocalizer["CreatePageTitle"]</h1>
        </div>
        @if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.Error)))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Error
            </div>
        }
        @if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.Success)))
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.Success
            </div>
        }
        <form asp-action="Create" asp-controller="User" class="form-group user" autocomplete="off">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div>
                        @Html.LabelFor(model => model.UserName)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        @Html.LabelFor(model => model.Sex)
                    </div>
                    <div>
                        @Html.DropDownListFor(q => q.Sex, Html.GetEnumSelectList(typeof(Gender)), sharedLocalizer["OptionLabel"], new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.Email)
                </div>
                <div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <small id="emailHelp" class="form-text text-muted">@viewLocalizer["emailHelp"]</small>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div>
                        @Html.LabelFor(model => model.PassWord)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        @Html.LabelFor(model => model.ComparePassword)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.ComparePassword, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.ComparePassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div>
                        @Html.LabelFor(model => model.PhonePrefix)
                    </div>
                    <div>
                        <select asp-for="PhonePrefix" class="form-control">
                            @foreach (var item in FoodStore.Data.AddressHelper.Countries.OrderBy(q => q.Code))
                            {
                                if (item.DialCode == "+90")
                                {
                                    <option value="@item.DialCode" selected>@item.Code @item.DialCode</option>
                                }
                                else
                                {
                                    <option value="@item.DialCode">@item.Code @item.DialCode</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        @Html.LabelFor(model => model.PhoneNumber)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">@sharedLocalizer["Save"]</button>
            </div>
        </form>
        <hr>
        <div class="text-center">
            <a class="small" asp-action="ForgotPassword" asp-controller="User">@viewLocalizer["ForgotPasswordPage"]</a>
        </div>
        <div class="text-center">
            <a class="small" asp-controller="User" asp-action="SignIn">@viewLocalizer["SignInPage"]</a>
        </div>
    </div>
</div>