@model IEnumerable<ApplicationUserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(p => p.Id)
        </th>
        <th>
            @Html.DisplayNameFor(p => p.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(p => p.Email)
        </th>
        <th>
            @Html.DisplayNameFor(p => p.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(p => p.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(p => p.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(p => p.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(p => p.PhoneNumberConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(p => p.AccessFailedCount)
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>#</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>
                    @if (item.Gender == FoodStore.Core.Enumarations.Gender.Male)
                    {
                        <i class="fa fa-male fa-lg"></i>
                    }
                    else
                    {
                        <i class="fa fa-female fa-lg"></i>
                    }
                </td>
                <td>@item.CreatedAt</td>
                <td>
                    @if (item.EmailConfirmed)
                    {
                        <span class="badge badge-pill badge-success"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                    }
                </td>
                <td>
                    @if (item.PhoneNumberConfirmed)
                    {
                        <span class="badge badge-pill badge-success"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                    }
                </td>
                <td>@item.AccessFailedCount</td>
            </tr>
        }
    </tbody>
</table>

