@model LoginUserViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SignIn</h1>

<form asp-action="SignIn" asp-controller="User" asp-route-returnUrl="@ViewData["returnUrl"]" class="form-group" autocomplete="off">
    <div asp-validation-summary="All">

    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.LabelFor(model => model.PassWord)
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.Persistent)
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.Persistent)
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(model => model.Persistent, "", new { @class = "text-danger" })
        </div>
    </div>
    <button type="submit" class="btn btn-info">@sharedLocalizer["Enter"]</button>
    <button type="reset" class="btn btn-warning">@sharedLocalizer["Clean"]</button>
</form>